ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    background: #333333;
   
  }
  ul li {
    display: block;
    position: relative;
    float: left;
    padding: 0 28px 0 16px;
      
  } 

  li ul {
     display: none; 
     position: absolute;
   
}

hr{
    
    border-bottom: 4px solid #009eff;
    margin: 0;
}

ul li li{
    border: 1px solid blue;
    background:  #009eff ;
    width: calc(25% + 1px);
    margin: -1px 0 0 0;
    
}
    
  li a {
  display: block;
  padding: 16px 28px 16px 16px;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  position: relative;
  
}

.plus, .sub_plus{
    position: absolute;
    display: none; 
    top: 13px;
    right: 10px;
    font-size: 20px;
  }

 
    a:hover .plus, .sub_plus{
    display: inline;
  }

li:hover > ul {
    display: block;
   
  }

  li:hover li { float: none; }
  li:hover a { background:  #009eff ;
 }

 ul li:hover li{
    width:100%;
 }
  

  ul ul ul {
    left: 100%;
    top: 0;
  }
  ul:before,

  ul:after {
  content: "";
  display: table; 
}
  ul:after { clear: both; }

  